* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}


//********* Text Style *******//

.textCenter {
    text-align: center;
}

.lineHeight2rem {
    line-height: 2rem;
}



// *********FLEX ******//
.flex {
    display: flex;
}

.justifySpaceB {
    justify-content: space-between;
}

// *****BUTTONS****//

.greenButton {
    padding: 15px 30px;
    color: white;
    border-radius: 3%;
    background-color: #20ad96;
    border: none;
    cursor: pointer;
}